@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
img {
border: 50%;
}
*{
padding: 0;
margin: 0;
text-decoration: none;
box-sizing: border-box;

}
body {
font-family: 'Noto Sans KR', sans-serif;
}
nav{
background-color: #151B54;
height: 80px;
width: 100%;
}
label .logo{
color: white;
font-size: 35px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
v ul li a {
color: white;
font-size: 17px;
text-transform: uppercase;
padding: 7px 13px;
}
a :active,a:hover {
background: #1b9bff;
transition: .5s;
}